---
import Link from "../../global/Link.astro";

interface GoTo {
  text: string
  to: string
  primary?: boolean
}

interface Props {
  links?: GoTo[]
  contactPrimary?: boolean
  gray?: boolean
  column?: boolean
  wrap?: boolean
  little?: boolean
}

const { 
  contactPrimary,
  links = [{
    text: "Home",
    to: "#home"
  }, {
    text: "About",
    to: "#about"
  }/* , {
    text: "Tools",
    to: "#tools"
  } */, {
    text: "Projects",
    to: "#projects"
  }, {
    text: "Contact",
    to: "#contact",
    primary: contactPrimary
  }], 
  gray,
  column,
  wrap,
  little
}: Props = Astro.props;
---

<ul class:list={["navbar-list", { column, wrap }]}>
  {
    links.map((v, i) => (
      <li>
        <Link text={v.text} to={v.to} primary={v.primary} gray={gray} little={little} />  
      </li>
    ))
  }
</ul>

<style lang="scss">
  .navbar-list {
    display: flex;
    list-style: none;
  }

  .column {
    flex-direction: column;
    align-items: center;
  }

  .wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
</style>